* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS GOOGLE ----------
font-family: 'Nunito Sans', sans-serif;
font-family: 'Source Serif Pro', serif;
----------------------- */

/* VARIABLES  */
:root {
    --white-color: #ffffff;
    --beige-color: #bbb6aa;
}


/* GENERAL ------------------------*/

.white {
    color: var(--white-color);
}

a {
    cursor: zoom-pointer;

}

h1 {
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-size: 2rem;
    font-family: 'Source Serif Pro', serif;
}

h4 {
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
}

p,
label {
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif;
}

.desvanecer:hover {
    opacity: 0.3;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.mb1 {
    margin-bottom: 1.5rem;
}

.mb0 {
    margin-bottom: 0.8rem;
}


/* INDEX VIDEO INTRO  ------------ */
.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.video-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
}

.rotulo-index {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    color: var(--white-color);
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rotulo-sub {
    font-family: 'Source Serif Pro', serif;
    font-size: 1rem;
    color: var(--white-color);
    text-align: center;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-container {
    text-align: center;
    position: sticky;
    top: 80%;
    left: 35%;
}

/* NAV ------------------------*/


.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2rem;
    overflow: hidden;
    justify-content: space-around;
    color: var(--white-color);
    background-color: var(--beige-color);
    margin-bottom: 1.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.nav-logo a {
    
    color: var(--white-color);
    text-decoration: none;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
}

.navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: var(--beige-color);
    overflow: hidden;
}

.navlinks a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}


.navlinks a:hover {
    background-color: #f2f2f2;
    color: #536157;
}

.navlinks a.active {
    background-color: #aba492;
    color: var(--white-color);
}

.nav-container .social-icons {
    display: none;
}


/* ---------- */

.boton-inicio {
    font-family: 'Nunito Sans', sans-serif;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    padding: 20px 20px;
    font-size: 35px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-inicio:hover {
    background-color: rgba(128, 128, 128, 0.8);
}

/* NAV ------------------------*/


/* HOME---------------- */
.container-tex1 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 2rem 1rem;
    margin-top: 2rem;
}

.scroll {
    overflow-y: scroll;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    position: relative;
}

.card h4 {
    position: absolute;
    top: 10%;
    left: 30%;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* BIO----------- */

.container-flex-bio {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.bio-img img {
    width: 100%;
}

/* WORK - PORTAFOLIO -------------- */
.header-work {
    display: flex;
    flex-direction: column;
    margin: 10 0;
}

.video-work-container {
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
}

.video-work {
    width: 50%;
}

.container-gallery {
    display: flex;
    flex-wrap: wrap;
}

.img-work {
    width: 100%;
}

/* .img-work {
    object-fit: cover;
} */

/* GALERIA ---------------------- */




/* BOTON SEND FORMULARIO ---------- */
#submit {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    background-color: #c2bdb2;
    padding: 10px 22px;
    border: solid #fcfcfc 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 15px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

#submit:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #c2bdb2;
    border: solid 0px #c2bdb2;
}

/* FORMULARIO ------------ */

#about-you {
    width: 100%;
}

.form-intro {
    margin: auto 1.5rem;
    margin-bottom: 1.5rem;
}

.container-contact {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    margin-bottom: 20px;
}

.container-contact h1 {
    font-size: 2rem;
    color: rgb(85, 85, 85);
}

.my-form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 20px;
}

.campos-column {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.campos-row {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin-bottom: 0.4rem;
}

.container-links {
    display: flex;
}

.container-links img {
    width: 100%;
    height: 500px;
    object-fit: fill;
    margin-top: 30px;
}

/* BOTON SUBIR ARRIBA contacto ----------------------------*/
html {
    scroll-behavior: smooth;
}


/* BOTON SUBIR ARRIBA contacto  ----------------------------*/



/* FOOTER ------------------------*/
.footer {
    color: var(--white-color);
    background-color: #536157;
    padding: 20px 0;
    text-align: center;
}

.container-footer {
    margin: 0 auto;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

.rights {
    font-size: 0.8rem;
}


/* MEDIA QUERIES ----------------------------*/


/* @media screen and (max-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .nav-logo {
        margin-bottom: 10px;
    }

    .navlinks {
        display: flex;

    }

    .navlinks a {
        padding: 10px;
    }

    .nav-container .social-icons {

        display: none;
    }

} */


/* MQ MIN - WITH 481PX----------- */

@media screen and (min-width: 481px) {


    .container-cards {
        display: flex;
        flex-wrap: nowrap;
    }

    .video-work-container {
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .img-work {
        width: 50%;
    }

    .btn-container {
        text-align: center;
        position: sticky;
        top: 80%;
        left: 45%;

    }

    .container-flex-bio {
        margin: 0 1rem;
    }

    .container-tex1 {
        margin: 2rem 2rem;
    }

    .bio-img {
        margin: 0 20px;
    }

    .nav-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navlinks a {
       
       padding: 0.6rem;
       margin-bottom: 1rem;
        font-size: 1.2rem;
    }


}

/* MQ MIN - WITH 481PX----------- */


/* MQ MIN - WITH 769PX----------- */
@media screen and (min-width:769px) {

    #video-v {
        width: 23%;
    }

    #video-h {
        width: 72%;
    }

    
    .video-work-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2rem;
    }

    .img-work {
        width: 33%;
    }

    .container-flex-bio {
        flex-direction: row;
        margin-bottom: 2rem;
    }


    .container-contact {
        display: grid;
        grid-template-columns: 2.5fr 2fr;
        max-width: 900px;
        margin: 5rem;
    }


    .my-form {
        width: 80%;
    }

    .container-links {
        max-width: 100%;
    }

    .container-links img {
        width: 100%;
        object-fit: fill;

    }
}

/* MQ MIN - WITH 769PX----------- */